extends layout.pug

block content
	<div class="row mx-1">

		<h2 class="mt-1 mb-4 font-italic"> "Acknowledging the good that you already have in your life is the foundation for all abundance." Eckhart Tolle </h2>

		<p> Grateful Diary began as a project when I (<a href="http://twitter.com/cggaurav" target="_blank">@cggaurav</a>) started writing down in my physical diary things I am grateful for. I noticed that the more positively I remembered my day, the better outlook and energy I had going forward. This is an initiative to take my habit digital and help other people. </p>

		<div class="my-3">
			iframe(width="854" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://embed.ted.com/talks/david_steindl_rast_want_to_be_happy_be_grateful")
		</div>

		<p> The hope is to make Grateful Diary run for decades to come with your support and I'd love to hear from <a href="mailto:gaurav@support.gratefuldiary.com">you</a>.</p>
	</div>