extends layout.pug

block content
	<div class="row mx-1">
		<div class="mt-3 col-lg-12 pl-0" id="how-often">
			<p><strong> How often do I get these reminders? </strong></p>

			<p> You choose how often you want to get the reminder emails - twice or thrice a week or even everyday. </p>

			<p> The idea is to reply only when you feel in mindspace to do so without overwhelm </p>
		</div>

		<div class="mt-3 col-lg-12 pl-0" id="why-charge">
			<p><strong> Why are you charging for this service? </strong></p>

			<p> We want to keep running Grateful Diary <strong>forever</strong> and would like your help to keep this service be cared for and sustainable. There will be no ads, no selling your information, no social media or sharing. We will keep your memories safe, accessible and you own your data. </p>
		</div>
	
		<div class="mt-3 col-lg-12 pl-0" id="features">
			<p><strong> What added features do I get? </strong></p>
		
			<p> Some features that are coming up next. 
				p
				| * Add photos to your reply.
				p
				| * A wrap up telling you how your previous month was.
				p
				| * We hope to be supporting reminders via texts. Would you like that?
			</p>

		</div>

		<div class="mt-3 col-lg-12 pl-0" id="how-secure">
			<p><strong> How secure is the service? </strong></p>

			<p> Grateful Diary has all your entries <a href="https://github.com/gratefuldiary/gratefuldiary/blob/master/app/src/services/encrypt.service.js" target="_blank">encrypted</a> so only you can read what you write. </p> 
		</div>

		<div class="mt-3 col-lg-12 pl-0" id="how-secure">
			<p><strong> Questions? </strong></p>

			<p> Please email <a href="mailto:gaurav@support.gratefuldiary.co"> us</a>.</p>
		</div>

	</div>