<!DOCTYPE html>
<html lang="en">
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131847904-1"></script>

		script.
			window.dataLayer = window.dataLayer || []
			function gtag(){dataLayer.push(arguments)}
			gtag('js', new Date())
			gtag('config', 'UA-131847904-1')

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#000000">
		<meta name="title" content="Grateful Diary: What are you grateful for?">
		<meta name="description" content="A diary to write down what you are grateful for, often and forever.">

		<meta property="og:url" content="https://gratefuldiary.co" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Your private gratitude diary. What are you grateful for?" />
		<meta property="og:description" content="A diary to write down what you are grateful for, often and forever." />
		<meta property="og:image" content="https://www.gratefuldiary.co/images/gd_book.png" />

		<meta property="twitter:card" content="summary">
		<meta property="twitter:url" content="https://gratefuldiary.co/">
		<meta property="twitter:title" content="Your private gratitude diary. What are you grateful for?">
		<meta property="twitter:description" content="A diary to write down what you are grateful for, often and forever.">
		<meta property="twitter:image" content="https://www.gratefuldiary.co/images/gd_book.png">

		<title> Grateful Diary </title>
		
		<link rel="shortcut icon" href="/images/favicon.ico">
		
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:400,400i,700" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet" type="text/css">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="https://js.chargebee.com/v2/chargebee.js" ></script>

		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-KQRP6CD');
	</head>
	<body>

		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQRP6CD" height="0" width="0" style="display:none;visibility:hidden">
			</iframe>
			You need to enable JavaScript to run this app.
		</noscript>
		<div class="container">
			<div class="row my-3">
				<div class="col-md-8">
					if(locals.user)
						<a href="/users"><h1 class="my-3"> Grateful Diary </h1></a>
					else
						<a href="/"><h1 class="my-3"> Grateful Diary </h1></a>
				</div>
				<div class="col-md-4 text-md-right text-xs-left mt-3">
					if(locals.user)
						<a href="/users" class="header col-md-1 pl-1"> HOME </a>
						<a href="/users/account" class="header col-md-1"> ACCOUNT </a>
						<a href="/users/logout" class="header col-md-1"> LOGOUT </a>
					else
						<a href="/about" class="header col-md-1 pl-1"> WHY </a>
						<a href="/faq" class="header col-md-1"> FAQ </a>
						<a href="/users/login" class="header col-md-1"> SIGN IN </a>
				</div>
			</div>
			block content
		</div>
	</body>
</html>